<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" name="nombres" id="nombres" [(ngModel)]="nombres" #textoNombre>
  </mat-form-field>
  <div class="sa-espaciado"></div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellido" name="apellidos" [(ngModel)]="apellidos" #textoApellido>
  </mat-form-field>
  <div class="sa-espaciado"></div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Fecha Nacimiento" name ="fechaNacimiento" [(ngModel)]="fechaNacimiento" #textoFecha >
  </mat-form-field>
  <div class="sa-espaciado"></div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Numero de Autos" name="numeroAutos" [(ngModel)]="numeroAutos" #textoAutos>
  </mat-form-field>
  <div class="sa-espaciado"></div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Licencia" value="" name ="licenciaValida" [(ngModel)]="licenciaValida" #textoLicencia>
  </mat-form-field>
</form>
<div class="row">
  <div class="col-sm-6">
    <div class="button-row">
      <button (click)="limpiar(textoNombre.value, textoApellido.value, textoFecha.value, textoAutos.value, textoLicencia.value)" mat-raised-button>Limpiar</button>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="button-row">
      <button (click)="crearConductores(textoNombre.value, textoApellido.value, textoFecha.value, textoAutos.value, textoLicencia.value)" mat-raised-button>Crear</button>
    </div>
  </div>
</div>


<div class="sa-espaciado"></div>
<h1>GRILLA</h1>
<div class="row">
  <div class="col-sm-3">
    <button (click)="colocarValor()" type="button" class="btn btn-lg btn-primary">
     {{card}}
    </button>
  </div>
</div>
