
<div class="row">
  <div class="col-sm-6" >
    <h1>DETALLES</h1>

    <form id="formDetalle" class="example-form" #detalle="ngForm">

    <h5 class="first">Chasis</h5>
    <span class="ui-float-label">
      <input id="chasis" name="chasis" size="30" value="chasis" [(ngModel)]="chasis" pInputText #textoChasis>
      <label for="chasis"></label>
    </span>

    <h5 class="first">Nombre de la marca</h5>
    <span class="ui-float-label">
      <input id="nombreMarca" name="nombreMarca"  size="30" [(ngModel)]="nombreMarca" pInputText #textoNombreMarca>
      <label for="nombreMarca"></label>
    </span>

    <h5 class="first">Color Uno</h5>
    <span class="ui-float-label">
      <input id="colorUno"  name="colorUno"  size="30" pInputText [(ngModel)] ="colorUno" #textoColorUno>
      <label for="colorUno"></label>
    </span>

    <h5 class="first">Color Dos</h5>
    <span class="ui-float-label">
      <input id="colorDos" name="colorDos"  size="30" pInputText [(ngModel)]="colorDos" #textoColorDos>
      <label for="colorDos"></label>
    </span>

    <h5 class="first">Modelo</h5>
    <span class="ui-float-label">
      <input id="nombreModelo" name="nombreModelo" type="text" size="30" pInputText [(ngModel)]="nombreModelo" #textoModelo>
      <label for="nombreModelo"></label>
    </span>

    <h5 class="first">Año</h5>
    <span class="ui-float-label">
      <input id="anio" name="anio" size="30" pInputText [(ngModel)]="anio" #textoAnio>
      <label for="anio"></label>
    </span>

    </form>
    <p-button (onClick)="colocarDetalles(textoChasis.value,textoNombreMarca.value, textoColorUno.value, textoColorDos.value, textoModelo.value, textoAnio.value)" label="Crear"></p-button>
    <p-button (onclick)="resetForm(chasis)" label="Limpiar"></p-button>
  </div>
  <div class="col-sm-6">

    <p-card title="CARD">
      <label style="font-weight: bold">Chasis:</label>
      {{chasisDetalle}}
      <br>
      <label style="font-weight: bold">Nombre Marca:</label>
      {{nombreMarcaAuto}}
      <br>
      <label style="font-weight: bold">Color Uno:</label>
      {{colorUnoAuto}}
      <br>
    </p-card>
  </div>
</div>









