<!-- INICIO -->
<div class="row">
  <div class="col-sm-6" >
    <!-- CAROUSEL CON IMAGENES-->
    <app-cabecera>
    </app-cabecera>
  </div>
  <div class="col-sm-6">
    <!-- GRILLA CON LOS DETALLES DEL FORMULARIO -->
    <h1>FORMULARIO</h1>
    <app-grilla *ngFor="let conductor of arregloConductores"
        [nombres]="conductor.nombres"
        [apellidos]="conductor.apellidos"
        [fechaNacimiento]="conductor.fechaNacimiento"
        [numeroAutos]="conductor.numeroAutos"
        [licenciaValida]="conductor.licenciaValida"
        (dioClickEnEstado)="alertar($event)"
    >
    </app-grilla>
</div>
</div>
<!-- DETALLE Y CARD-->
<app-detalle></app-detalle>
<app-tabla></app-tabla>
